/*---------------------------------------*/
/*   ALL		  	                     */
/*---------------------------------------*/
body{
	background: #24262b;
	font-family: 'Roboto', sans-serif;
	position: relative;
	font-size: 12px;
	color: black;
}
body#pegawai {
    background: #f2f4f8;
    font-family: 'Roboto', sans-serif;
    position: relative;
    font-size: 12px;
    color: black;
}
body a, body button, body div{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
}
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
li{
	list-style: none;
}
.reset {
	margin: 0px;
	padding: 0px;
}
a:hover,
a:active,
a:focus {
	text-decoration: none;
}
.title span.blue {
	color: #fff;
}
.form-control {
	font-size: 12px;
}
/*---------------------------------------*/
/*   NAVIGATOR  	                     */
/*---------------------------------------*/
.title {
	font-size: 20px;
	margin-bottom: 20px;
	background: #19B17E;
	padding: 10px 20px;
	font-weight: bold;
	/* margin-top: 20px; */
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
}
.side-nav {
	overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
	width: 180px;
    height: 100%;

	border: none;
	border-radius: 0;
	background-color: #24262b;
	font-weight: 400;
}
.nav-pills>li>a {
	font-size: 13px;
	color: #808080;
	border-radius: 4px;
}
.nav>li>a:focus,
.nav>li>a:hover {
  background-color: #34363A;
  color:  white;
  border-radius: 0px;
}
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  border-radius: 0px;
  background-color: #19B17E;
}
		/*SUBNAV*/
		.caret-container {
			  float: right;
			  margin-top: -40px;
			}
			.nav-container {
			  text-transform: uppercase;
			  font-weight: bold;
			}
			.nav-sub-container {
			  font-weight: bold;
			  cursor: pointer;
			}
			ul.nav-stacked ul.nav-stacked > li > a {
			  padding-left: 30px;
			}

		/*ADMIN*/
		.admin span{
			color: #85EC85;
			display: block;
			font-size: 10px;
		}
		.admin {
			font-size: 14px;
		}
		.nav-stacked>li.menu-admin {
			background: #2A2C31;
			border-radius: 4px;
		}
		.space-top {
			margin-top: 0px;
		}

/*---------------------------------------*/
/*   CONTENT  	                     */
/*---------------------------------------*/
section {
	margin-left: 170px;
	padding: 30px 50px;
}
.title-content {
	background: #FFF;
	padding: 20px;
	color: #19B17E;
	font-size: 24px;
	text-transform: capitalize;
	/* padding-bottom: 10px; */
	border-bottom: 2px solid #19B17E;
	/* border-radius: 5px; */
}
.title-content span {
	font-size: 14px;
	color: #929292;
	display: block;
}
.content {
	margin-top: 15px;
	background: white;
	padding: 20px;
	/* border-radius: 5px; */
	/* border-bottom: 2px solid #19B17E; */
}
		/*SEARCH*/
		.search {
			width: 300px;
		}
		.content .search .form-control {
			height: 40px;
			color: #777777;
			background-color: #F3F3F3;
			background-image: none;
			border: none;
			text-decoration: none;
		}
		.content .search .form-control:focus {
    outline: 0;
    -webkit-box-shadow: none;
     box-shadow: none;
   }
		.content .search .btn {
			color:#fff;
			height: 40px;
			background-color: #19B17E;
			background-image: none;
			border: none;
			padding: 10px 20px;
		}
		.content .search .btn:hover {
			background: #0A8E62;
			color: white;
		}
		.content .search .btn:focus {
			outline: 0;
		}
		/*FUNGSIONAL*/
		.btn-group {
			display: block;
			float: right;
			/* margin-left: 301px; */
		}
		.btn-group .btn {
			background: #19B17E;
			padding: 10px 20px;
			color: #FFFFFF;
			border-color: #0E9E6E;
		}
		.btn-group .btn:hover {
			background: #0A9667;
			color: #FFFFFF;
			border: 1px solid #0A9667;
		}
		.btn-group .btn:focus {
			outline: 0;
		}

		/*TABLE*/
		.tab-mar-top {
			margin-top: 30px;
		}
		.tab-col {
			color: #19B17E;
			font-size: 52px;
			/* font-weight: bold; */
		}
		.table>thead>tr>th {
	    border-bottom: 2px solid #B1B1B1;
	 }
		table>thead>tr>th.tab-col {
	    border-bottom: 2px solid #19B17E;
	 }
		.table>tbody>tr>td, .table>tbody>tr>th {
			font-weight: 300;
			font-size: 12px;
			border-top: 1px solid #C7C7C7;
			padding: 3px;
		}
		.table>tbody>tr>td a.fa {
            width: 26px;
    font-size: 12px;
    color: #FBFBFB;
    background: #19B17E;
    padding: 5px;
    padding-left: 8px;
    border-radius: 4px;
    border: 1px solid #19B17E;
		}
		.table>tbody>tr>td a.fa:hover {
              color: #FFFFFF;
              background: #0A9667;
              border: 1px solid #0A9667;
  }
		.table>tfoot>tr>td, .table>tfoot>tr>th,
		.table>thead>tr>td, .table>thead>tr>th {
			font-size: 12px;
    	font-weight: 500;
	    border-top: 1px solid #CBD5F1;
		}
		.table-hover>tbody>tr:hover {
		  background-color: rgb(243, 243, 243);
		}
		/*MODAL*/
		.modal-content {
			background: #FFFFFF;
			padding: 10px 40px;
			border-radius: 0px;
			border-bottom: 3px solid #19B17E;
		}
		.modal-header {
			color: #19B17E;
			font-size: 18px;
			padding-left: 0px;
			border-bottom: 4px solid #EFEFEF;
		}
		.modal-header p {
			border-bottom: 4px solid #19B17E;
			width: 160px;
			margin-bottom: -19px;
			padding-bottom: 10px;
		}
		.form-group {
			color: #6D6D6D;
		}
		.form-group label {
			font-weight: 400;
		}
		.modal-body {
			margin-top: 30px;
			padding: 0px;
		}
		#tambah_data .form-control {
			border-radius: 0px;
			background: transparent;
			border: 1px solid #DCDCDC;
			color: #363837;
		}
		#tambah_data .form-control:focus {
			border-color: #85EC85;
			webkit-box-shadow: 0px;
    	box-shadow: 0px;
		}
		.radio-inline {
			color: #000000;
		}
		.modal-footer {
			padding: 15px 0px;
			margin-top: 40px;
			/* border-top: 1px solid #19B17E; */
		}
		.button-foot {
			background: transparent;
			padding: 10px 30px;
			border: 2px solid #19B17E;
			font-size: 12px;
			color: #19B17E;
			height: 40px;
			width: 100px;
		}
		.button-foot:hover {
			background: #19B17E;
			color: #FFFFFF;
			border: 2px solid #19B17E;
		}

/*EDIT-CONTENT*/
.edit-cont {
	/* margin-top: -50px; */
}
.edit-title{
	font-size: 18px;
	border-bottom: 4px solid #EFEFEF;
	margin-bottom: 30px;
}
.edit-title p {
	border-bottom: 4px solid #19B17E;
	width: 160px;
	margin-bottom: -4px;
	padding-bottom: 10px;
	color: #19B17E;
	text-transform: capitalize;
}
.edit-cont .form-control {
	border-radius: 0px;
	background: transparent;
	/* border: 1px solid #19B17E; */
	color: #5F5F5F;
}
.edit-cont .form-control:focus {
	border-color: #19B17E;
	webkit-box-shadow: 0px;
	box-shadow: 0px;
	border-color: #19B17E;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(25, 177, 126, 0.42);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(25, 177, 126, 0.48);
}

.edit-cont .form-control:hover {
   background: #F3F3F3;
}
}
.form-button {
	margin-top: 10px;
	float: right;
}
.button-edit {
	margin-left: 170px;
  margin-top: 40px;
}
.form-control[disabled] {
	background: #19B17E;
	color: white;
}
.form-control[disabled]:hover {
	background: #0A9667;
	color: white;
}
/*CARI-CONTENT*/
.button-reset {
	font-size: 12px;
	background: #19B17E;
	border-radius: 4px;
	padding: 11px;
	color: #FFFFFF;
	display: block;
	width: 60px;
	height: 40px;
	text-align: center;
	margin-left: 305px;
	margin-top: -40px;
}
.button-reset:hover {
	color: #FFFFFF;
	background: #0A7D57;
}

/*---------------------------------------*/
/*   LOGIN		  	                     */
/*---------------------------------------*/

.loginadm2 .form-login {
	width: 45%;
    margin: 200px auto;
}
.loginadm2 .title-login {
	margin-top: 20px;
    font-size: 16px;
    color: #F9F9F9;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: none;
}
.loginadm2 .title-login span.blue {
	color: #19B17E;
	    font-size: 22px;
}
.loginadm2 .title-login span.sub {
	font-size: 14px;
	display: block;
}
.loginadm2 form input.form-control {
	font-family: 'Roboto Condensed', sans-serif;
	padding-left: 35px;
	font-weight: 300;
	margin: 10px 0px;
	height: 35px;
	color: #FFFFFF;
	border: 1px solid #30343E;
	background: rgba(25, 168, 92, 0);
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 0px 1px rgba(0,0,0,.075);
}
.loginadm2 form input.form-control:focus {
	border-color: #19B17E;
	webkit-box-shadow: 0px;
	box-shadow: 0px;
}
.loginadm2 i.fa {
	    display: inline;
	    position: absolute;
	    color: #1EB17E;
	    padding: 11px;
}
.loginadm2 a.lp {
	color: #02AF40;
	font-size: 12px;
	display: block;
    padding-bottom: 35px;
}
.loginadm2 a.lp:hover {
	color: #1CB17E;
	font-size: 12px;
	text-decoration: none;
}
.loginadm2 .button {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #19B17E;
  padding: 5px 30px;
  border: 1px solid #19B17E;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0);
  float: right;
}
.loginadm2 	.button:hover {
	background: #19B17E;
	color: #F9F9F9;
	border: 1px solid #19B17E;
	text-decoration: none;
	outline: 0;
}
.loginadm2 .button:focus {
	outline: 0;
}
.container-fluid {
	padding-left: 0px;
}
